input {
    file {
        path => "/logs/sample.log"
        start_position => "beginning"
    }
}
filter {
   grok {
     match => [ "message", "%{TIMESTAMP_ISO8601:time} %{GREEDYDATA} %{RUBY_LOGLEVEL:level} %{GREEDYDATA} user_agent=%{GREEDYDATA:user_agent} metodo=%{DATA:metodo} recurso=%{DATA:recurso} ip=%{DATA:ip} query=%{DATA:query} msg=%{GREEDYDATA:msg}"]
        add_tag => ["pageclicker"]
    }
}
output {
    if "pageclicker" in [tags] {
        elasticsearch {
            hosts => ["elasticsearch:9200"]
            index => "pageclicker-%{+YYYY.MM.dd}"
        }
    }
}
